{
  "semi": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
